.container {
    padding: 0;
}

.container.personProfile {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.personProfile_address {
    padding-top: 8em;
    padding-left: 3em;
}

.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;
    margin-bottom: 10px;
}

.fb-profile-text {
    padding: 2em;
}

.fb-profile-text h1 {
    margin-bottom: 1em !important;
    color: rgb(97,133,174);
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%;
    border-radius: 50%;
}

.header-picture {
    height: 350px;
    width:100%;
    background-color: black;
}

.personProfile_information {
    border-right: 1px black solid;
}

@media (max-width:768px)
{

.fb-profile-text>h1{
    font-weight: 700;
    font-size:16px;
}

.fb-image-profile
{
    margin: -45px 10px 0px 25px;
    z-index: 9;
    width: 20%;
}
}