<div class="container">
<div class="row">
    <div class="col user_welcome_title">
        <h1> Thanks a lot for your Code! </h1>
    </div>
</div>
<div class="row">
    <div class="col">
        <p> We are going to list you code right now, so people can start voting on it.</p>
    </div>
</div>

<div class="row">
    <div class="col">
        <p> Here is the Id for your code: {{code._id}}</p>

        <p> Send this ID to anyone you would like to check out your code.</p>
    </div>
</div>

<button routerLink="/reviewCode" class="btn btn-success btn-lg" >See your Code here</button>

</div>