<div class="container">
	<div class="row code_review_title">
		<div class="col-sm">
			<h1> {{reviewObject.title}}</h1>
			<p> {{reviewObject.description}}</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm text-center">
			<div class="text-left">
			<ngx-codemirror 
			  [(ngModel)]="reviewObject.codeLeft" 
			  [options]="{
			    lineNumbers: true,
			    theme: 'material',
			    mode: 'javascript',
			    readOnly: true
			  }"
			></ngx-codemirror>
		</div>

			<button *ngIf="!showVotes" (click)="voteLeft()" type="submit" class="btn btn-success btn-lg" id="btnLogin">Like</button>
			<h3 *ngIf="showVotes" >{{reviewObject.codeLeftVotes}}</h3>
		</div>

		<div class="col-sm text-center">
			<div class="text-left">
				<ngx-codemirror 
				  [(ngModel)]="reviewObject.codeLeft" 
				  [options]="{
				    lineNumbers: true,
				    theme: 'material',
				    mode: 'javascript',
				    readOnly: true
				  }"
				></ngx-codemirror>
			</div>
			<button *ngIf="!showVotes" (click)="voteRight()" type="submit" class="btn btn-success btn-lg" id="btnLogin">Like</button>
				<h3 *ngIf="showVotes">{{reviewObject.codeRightVotes}}</h3>
		</div>
	</div>
	<div class="row">
		<div class="col-sm">
			<p>
				
			</p>
		</div>
	</div>
		

</div>