<div class="searchList">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="searchList_title">
                    <h1> Find some Code to judge </h1>
                </div>
            </div>
        </div>

    <div class="searchList_input">
        <div class="input-group">
            <input [(ngModel)]="searchText" (input)="filterCodes()" type="text" class="form-control searchBar" placeholder="Geben Sie Namen, PLZ oder andere Suchebegriffe ein" aria-label="Suchfeld" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button class="btn btn-outline-secondary" type="button">Suchen</button>
            </div>
        </div>
    </div>

  <div class="row" >
        <div class="col-md-4" *ngFor="let code of displayedCodes">
            <div class="contact-box center-version">
                <a >
                    <h1>{{code.language}}</h1>
                    <h3 class="m-b-xs"><strong>{{code.title}}</strong></h3>
        
                    <div class="font-bold">{{code.description}}</div>
                </a>
                <div class="contact-box-footer">
                    <div class="m-t-xs btn-group">
                       <button (click)="setSelectedCode(code)" routerLink="/reviewCode" type="button" class="btn btn-outline-primary">More ..</button>
                    </div>
                </div>
        
            </div>
        </div>
    </div>

  </div>



    

